**/.DS_Store
**/*.m~
not_used*
pycode/__*
pycode/numbers.png
pycode/segmentation.png
mcode/fibres_presentation_script.m
mcode/tuesday_presentation_script.m
pycode/test_probtorgba.py
**/*chekpoint.ipyny
